Виртуальное окружение
.venv/
venv/

Лог-файлы
logs/
*.log
.log.

Файлы Python
pycache/
*.py[cod]
*.pyo
*.pyd

Файлы окружения
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

Временные файлы редакторов
*.swp
*~
.DS_Store

Файлы базы данных
*.sqlite
*.db

Файлы сборки и кэша
*.egg-info/
dist/
build/
.pytest_cache/

PyCharm
.idea/

VS Code
.vscode/

Документация и тесты
*.bak
*.orig